/* Don't forget to import class.css in every css you need variables */
@import "./class.css";
/* AND import other css's to style, like that one link is enough OR add new <link href="./css/new.css"> to every pages.html */
/* Reset */
* {
  margin: 0;
  padding: 0;
}
/* ----- */

/* Initialise my page */
html{
  max-width: 100%;
  position: relative;
}
header{
  min-height: 10vh;
}
main{
  min-height: 80vh;
}
footer{
  min-height: 10vh;
}
/* ------------------- */

/* Font */
p, span, li, em, strong, a, label, input, text{
  font-family: 'Manrope', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Michroma', sans-serif;
}
/* ---- */

/* Text color */
h1, h3, h5{
  color: var(--colorPrimary);
}
h2, h4, h6{
  color: var(--colorBlack)
}
em{
  color: var(--colorPrimary);
  font-style: normal;
}
p{
  color: white;
}
/* ---------- */
#first{
  width: 100%;
  font-size: 0.5em;
}

body{
  background-color: #1f2039;
  height: 100%;
}

header, footer{
  align-content: center;
  background-color: white;
  padding: 10px 50px;
}
/* Sections */
section{
  padding: 25px;
}
/* -------- */
/* Links */
a{
  color: #1f2039;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
/* ----- */

input{
  height: 36px;
}
.cta{
  background: linear-gradient(#8e86b5, var(--colorPurpleLight));
  color: white;
  border-radius: 16px;
  padding: 10px 50px;
}

.cta:hover{
  transition: 0.5s;
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.lien-icone:hover{
  opacity: 0.5;
}

.menuNav, .menuFooter{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuNav a, .menuFooter a{
  margin: 0px 70px;
}

.btnNav a:hover{
  text-decoration: none;
  text-shadow: 1px 1px 0px #696484 ;
}

.logo{
  width: 82px;
}

.mini-border{
  border-right: 1px solid var(--colorPurpleLight);
  border-bottom: 1px solid var(--colorPurpleLight);
  position: relative;
  z-index: -1;
  width: 60px;
  height: 60px;
  top: -50px;
  left: 87%;
}

.centerFit{
  text-align: center;
  margin: 20px 0px;
  width:fit-content;
}
.centerFit img{
  width: 350px;
  height: 350px;
}

/* Accueil section 1 */
.wrapper{
  display: grid;
  grid-template-columns: 420px 420px;
  grid-auto-rows:150px;
  column-gap: 75px;
  justify-content: center;
}

.one{
  grid-column: 1 / 2;
  grid-row: 1;
  align-content: end;
}

.two{
  grid-column: 1 / 2;
  grid-row: 2;
  align-content: center;
}

.three{
  top: 0;
  grid-column: 1 / 2;
  grid-row: 3;
  align-content: start;
}

.four{
  grid-column: 2;
  grid-row: 1/4;
  display: flex;
  justify-content: center;
  align-content: center;
}
/* ----------------- */

/* Accueil Section 2 */
.container{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 15px;
  justify-content: center;
  align-items: center; 
} 
/* ----------------- */

/* @media screen */
@media screen and (max-width: 1129px){
  .wrapper{
  column-gap: 40px;
  }
  .menuNav a{
    margin: 0px 30px;
  }
  .container{
  grid-template-columns: repeat(2, 350px);
  } 
}
@media screen and (max-width: 1040px){
  .wrapper{
  column-gap: 0px;
  }
  .two, .one{
    width: 300px;
  }
}
@media screen and (max-width: 915px){
  .wrapper{
    grid-template-columns: 320px 320px;
    column-gap: 20px;
  }
}
@media screen and (max-width: 765px){
  .wrapper{
    grid-template-columns: 300px 300px;
    column-gap: 20px;
  }
  .centerFit img{
    width: 300px;
    height: 300px;
  }
  .four{
    align-items: center;
  }
  .menuNav{
  flex-direction: column;
  }
  .menuNav .btnNav{
    display: flex;
    flex-direction: column;
  }
  .btnNav a{
    margin: 10px 10px;
  }
  .container{
  grid-template-columns: 350px;
  } 
}
@media screen and (max-width: 675px){
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .centerFit img{
    width: 250px;
    height: 250px;
  }
  .one{
    margin-top: -35px;
    order: 2;
    padding-bottom: 15px;
  }
  .two{
    order: 3;
  }
  .three{
    margin-top: 35px; 
    order: 4;
  }
  .four{
    order: 1;
  }
  /* ATTENTION à n'utiliser que selon la largeur de l'écran */
  .invisible{
    font-size: 0px;
  }
  .form{  
    flex-direction: column;
  }
  
}
@media screen and (max-width: 607px) {
  .form #message{
    width: 255px!important;
    height: 195px!important;
  }
}
/* ------------- */

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 558px;
  margin: auto;
}
.form #name{
  width: 255px;
}
.form #email{
  width: 255px;
}
.form #message{
  width: 534px;
  height: 207px;
}